<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS" value="./logs" />

    <!-- ConsoleAppender : Console에 로그를 남기는 Appender -->
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <!-- FileAppender : -->
    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>${LOGS}/file-log.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1} [%t] %m%n</Pattern>
        </encoder>
    </appender>




    <!-- RollingFileAppender : 특정 조건을 바탕으로,
            로그 파일의 갯수와 크기를 유지하면서 로그를 남기는 Appender -->
    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/rolling-file-log.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1} [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/rolling-file-log-%d{yyyy-MM-dd_HH-mm-ss}.%i.log
            </fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>


    <!-- LOG everything at INFO level -->
    <!-- root : 모든 Logger가 어떤 설정으로 실행될지 -->
    <!-- level : 모든 Logger의 레벨-->
    <root level="info">
        <!-- append-ref: 위의 Appender 중 어떤 애를 사용할지 -->
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
        <appender-ref ref="File" />
    </root>

    <logger name="com.example.article" level="trace" additivity="false">
        <appender-ref ref="Console" />
    </logger>
</configuration>